<?xml version="1.0"?>
<configuration>

  <location path="BillwiseSaleSummary.aspx">
    <system.web>
      <authorization>
        <allow roles="Cashier" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="BillwiseStaffSalesSummary.aspx">
    <system.web>
      <authorization>
        <allow roles="Cashier" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
  <location path="Cashier.aspx">
    <system.web>
      <authorization>
        <allow roles="Cashier" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
  <location path="ItemwiseSalesSummary.aspx">
    <system.web>
      <authorization>
        <allow roles="Cashier,Administration" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
  <location path="ItemwiseStaffSalesSummary.aspx">
    <system.web>
      <authorization>
        <allow roles="Cashier,Administration" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
  <location path="RoutewiseSalesSummary.aspx">
    <system.web>
      <authorization>
        <allow roles="Cashier" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
  <location path="SalesAnalysisItemwise.aspx">
    <system.web>
      <authorization>
        <allow roles="Cashier" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
  <location path="StaffAccountSalesSummary.aspx">
    <system.web>
      <authorization>
        <allow roles="Cashier,Administration" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
  


</configuration>